@use "../core/mixins" as m;
.mainHome {
  .ContactSc {
    &__mycontact {
      &-item {
        .icon {
          transition: var(--duration-animation);
          transition-timing-function: var(--timing-animation);
          &:hover {
            filter: var(--filter-green-color);
          }
        }
        .myemail {
          display: inline-block;
          position: relative;
          transition: var(--duration-animation);
          transition-timing-function: var(--timing-animation);
          word-break: break-all;
          &::after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background: var(--green-color);
            transform: scaleX(0);
            transition: var(--duration-animation);
            transition-timing-function: var(--timing-animation);
          }
          &:hover {
            color: var(--green-color);
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
